<div class="site-footer">
	<div class="home-site-footer">
		<div id="footer" class="container">
			<ul class="nav about clearfix">
				<li>
					<dl>
						<dt>关于我们</dt>
						<dd><a href="" target="_blank" rel="nofollow" data-bn-ipg="foot-about-1">轻游简介</a></dd>
						<dd><a href="" target="_blank" rel="nofollow" data-bn-ipg="foot-about-2">联系我们</a></dd>
						<dd><a href="" target="_blank" rel="nofollow" data-bn-ipg="foot-about-3">合作伙伴</a></dd>
					</dl>
				</li>
				<li>
					<dl>
						<dt>青年客栈联盟</dt>
						<dd><a href="" target="_blank" rel="nofollow" data-bn-ipg="foot-join-1">客栈入驻</a></dd>
					</dl>
				</li>
				<li>
					<dl>
						<dt>网站条款</dt>
						<dd><a href="" target="_blank" rel="nofollow" data-bn-ipg="foot-clause-1">会员条款</a></dd>
						<dd><a href="" target="_blank" rel="nofollow" data-bn-ipg="foot-clause-2">社区指南</a></dd>
						<dd><a href="" target="_blank" rel="nofollow" data-bn-ipg="foot-clause-3">版权声明</a></dd>
						<dd><a href="" target="_blank" rel="nofollow" data-bn-ipg="foot-clause-4">免责声明</a></dd>
					</dl>
				</li>
				<li>
					<dl>
						<dt>帮助中心</dt>
						<dd><a href="" target="_blank" rel="nofollow" data-bn-ipg="foot-help-1">新手上路</a></dd>
						<dd><a href="" target="_blank" rel="nofollow" data-bn-ipg="foot-help-2">使用帮助</a></dd>
						<dd><a href="" target="_blank" rel="nofollow" data-bn-ipg="foot-help-3">建议和投诉</a></dd>
						<dd><a href="" target="_blank" data-bn-ipg="foot-help-4">网站地图</a></dd>
					</dl>
				</li>
				<li class="last">
					<dl>
						<dt>爱上旅游</dt>
						<dd>
						<a target="_blank" class="avatar nslog" data-nslog="" title="" href="">
						<img src="../Public/images/qunaer0.jpg" class="img-thumbnail" width="60" height="30" alt="zjyff7的头像">
						</a>
						<a target="_blank" class="avatar nslog" data-nslog="" title="" href="">
						<img src="../Public/images/qunaer0.jpg" class="img-thumbnail" width="60" height="30" alt="zjyff7的头像">
						</a>
						<a target="_blank" class="avatar nslog" data-nslog="" title="" href="">
						<img src="../Public/images/qunaer0.jpg" class="img-thumbnail" width="60" height="30" alt="zjyff7的头像">
						</a>
						<a target="_blank" class="avatar nslog" data-nslog="" title="" href="">
						<img src="../Public/images/qunaer0.jpg" class="img-thumbnail" width="60" height="30" alt="zjyff7的头像">
						</a>
						<a target="_blank" class="avatar nslog" data-nslog="" title="" href="">
						<img src="../Public/images/qunaer0.jpg" class="img-thumbnail" width="60" height="30" alt="zjyff7的头像">
						</a>
						</dd>
					</dl>
				</li>
			</ul>
			<p class="copyright clearfix"> ©2013 qingworld <a target="_blank" href="http://qingworld.boss.com/" class="agreement">轻游（简单游览世界）</a> <a target="_blank" href="/help/uagreement">轻游网站用户协议</a> <a target="_blank" href="/help/contact"  class="nslog">联系我们</a> </p>
		</div>
	</div>
</div>