<div class="navbar navbar-default">
	<nav class="container" role="navigation">
		<div class="navbar-header">							
			<a class="nav-logo" href="{:U('Index/index')}"><img alt="" src="../Public/img/nav-logo.png"></a>
		</div>
		<div class="collapse navbar-collapse" id="navmeun">
			<ul class="nav navbar-nav" data-module="{:MODULE_NAME}">
				<li class="active"><a href="{:U('Index/index')}" data-module="Index">首页</a></li>
				<li><a href="#" data-module="">目的地</a></li>
				<li><a href="#" data-module="">攻略</a></li>
				<li><a href="{:U('Notes/index')}" data-module="Notes">游记</a></li>
				<li><a href="{:U('Activity/index')}" data-module="Activity">活动计划</a></li>
				<li><a href="#">青年客栈</a></li>
			</ul>
			<form class="navbar-form navbar-right" role="search">
				<div class="form-group">
					<input type="text" class="form-control" placeholder="目的地|游记攻略">
				</div>
				<button type="submit" class="btn btn-default">搜索</button>
			</form>
		</div>
	</nav>
</div>
<script type="text/javascript">
	$(document).ready(function(){
		var module = $('#navmeun>ul').attr('data-module');
		$('#navmeun>ul>li>a').each(function(i,el){
			if($(el).attr('data-module') == module){
				$(el).parent().addClass('active');
			}else{
				$(el).parent().removeClass('active');
			}
		});
	});
</script>