<!DOCTYPE html>
<html lang="en">
<head>
<title>Qingworld</title>
<meta http-equiv="content-type" content="text/html;charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="../Public/css/bootstrap.min.css" /> <!-- bootstrap样式 -->
<link rel="stylesheet" href="../Public/css/bootstrap-responsive.min.css" /> <!-- bootstrap自适应宽度样式 -->
<link rel="stylesheet" href="../Public/css/matrix-style.css" /> <!-- matrix style定义属性 -->
<link rel="stylesheet" href="../Public/css/matrix-media.css" /> <!-- matrix media定义属性 -->
<link rel="stylesheet" href="../Public/font-awesome/css/font-awesome.css" /> <!-- css字体图片 -->
</head>
<body>
<!--头部logo-->
<include file="Index:top" />
<!--头部logo end --> 
<!--header菜单部分-->
<include file="Index:header" />
<!--header菜单部分 end-->
<!--左边导航菜单-->
<include file="Index:left" />
<!--左边导航菜单 end-->

<!--主题内容部分-->
<div id="content">
<iframe src="{:U('index/main')}" id="mainFrame" name="mainFrame" width="100%" cellpadding="0" cellspacing="0" frameborder="0" scrolling="no"></iframe>
</div>
<!--主题内容部分 end-->

<!--footer部分-->
<include file="Index:footer" />
<!--footer部分 end-->
<script src="../Public/js/jquery.min.js"></script> <!-- jquery -->
<script src="../Public/js/bootstrap.min.js"></script>  <!-- bootstrap js -->
<script src="../Public/js/matrix.js"></script> 
<script type="text/javascript">

</script>
</body>
</html>
