<div id="sidebar">
    <a href="" class="visible-phone"><i class="icon icon-home"></i>管理首页</a>
    <ul style="display: block;">
        <li class="active">
            <a target="_self" href="{:U('Index/index')}"><i class="icon icon-home"></i> <span>管理首页</span></a>
        </li>
        <li class="submenu">
            <a href="javascript:void(0);"><i class="icon icon-user"></i> <span>用户管理</span> <span class="label label-important">3</span></a>
            <ul>
                <li><a target="mainFrame" href="{:U('User/index')}">用户管理</a></li>                
                <li><a target="mainFrame" href="{:U('User/index')}">发送通知</a></li>                
                <li><a target="mainFrame" href="{:U('User/index')}">禁止用户列表</a></li>
                <li><a target="mainFrame" href="{:U('User/index')}">资料审核</a></li>                
                <li><a target="mainFrame" href="{:U('User/index')}">用户组</a></li>
                <li><a target="mainFrame" href="{:U('User/index')}">在线用户</a></li>
            </ul>
        </li>
        <li class="submenu">
            <a href="javascript:void(0);"><i class="icon icon-eye-open"></i> <span>界面设置</span></a>
            <ul>
                <li><a target="mainFrame" href="{:U('User/index')}">导航设置</a></li>
                <li><a target="mainFrame" href="javascript:void(0);">编辑器设置</a></li>
            </ul>
        </li>
        <li class="submenu">
            <a href="javascript:void(0);"><i class="icon icon-pencil"></i> <span>轻游内容</span></a>
            <ul>
                <li><a target="mainFrame" href="{:U('User/index')}">内容审核</a></li>
                <li><a target="mainFrame" href="javascript:void(0);">词语过滤</a></li>
                <li><a target="mainFrame" href="javascript:void(0);">用户反馈</a></li>
                <li><a target="mainFrame" href="javascript:void(0);">主题管理</a></li>
                <li><a target="mainFrame" href="javascript:void(0);">内容批量删除</a></li>
                <li><a target="mainFrame" href="javascript:void(0);">日志管理</a></li>
                <li><a target="mainFrame" href="javascript:void(0);">回收站</a></li>
            </ul>
        </li>
        <li class="submenu">
            <a href="javascript:void(0);"><i class="icon icon-inbox"></i> <span>轻游版块</span></a>
            <ul>
                <li><a target="mainFrame" href="{:U('User/index')}">版块管理</a></li>
                <li><a target="mainFrame" href="javascript:void(0);">主题分类管理</a></li>
            </ul>
        </li>
        <li class="submenu">
            <a href="javascript:void(0);"><i class="icon icon-tint"></i> <span>轻游活动</span></a>
            <ul>
                <li><a target="mainFrame" href="{:U('User/index')}">站点公告</a></li>
                <li><a target="mainFrame" href="javascript:void(0);">广告管理</a></li>
                <li><a target="mainFrame" href="javascript:void(0);">站点帮助</a></li>
                <li><a target="mainFrame" href="javascript:void(0);">友情链接</a></li>
            </ul>
        </li>
        <li class="submenu">
            <a href="javascript:void(0);"><i class="icon icon-leaf"></i> <span>轻游站长</span></a>
            <ul>
                <li><a target="mainFrame" href="{:U('User/index')}">站点信息</a></li>
                <li><a target="mainFrame" href="javascript:void(0);">后台管理团队</a></li>
                <li><a target="mainFrame" href="javascript:void(0);">数据库备份与还原</a></li>
                <li><a target="mainFrame" href="{:U('User/index')}">用户注册配置</a></li>
                <li><a target="mainFrame" href="javascript:void(0);">用户权限控制</a></li>
                <li><a target="mainFrame" href="javascript:void(0);">时间设置</a></li>
                <li><a target="mainFrame" href="{:U('User/index')}">上传设置</a></li>
                <li><a target="mainFrame" href="javascript:void(0);">地区设置</a></li>
            </ul>
        </li>
        <!-- <li><a target="mainFrame" href=""><i class="icon icon-signal"></i> <span>Charts &amp; graphs</span></a> </li> -->
        <li class="content"> <span>Monthly Bandwidth Transfer</span>
            <div class="progress progress-mini progress-danger active progress-striped">
                <div style="width: 77%;" class="bar"></div>
            </div>
            <span class="percent">77%</span>
            <div class="stat">21419.94 / 14000 MB</div>
        </li>
        <li class="content"> <span>Disk Space Usage</span>
            <div class="progress progress-mini active progress-striped">
                <div style="width: 87%;" class="bar"></div>
            </div>
            <span class="percent">87%</span>
            <div class="stat">604.44 / 4000 MB</div>
        </li>
    </ul>
</div>